<article class="quote">
  <p>"{{ quote }}"</p>
  <div class="quote-author">
    <div class="quote-avatar">{{ initials }}</div>
    <div>
      <div class="quote-name">{{ name }}</div>
      <div class="quote-role">{{ role }}</div>
    </div>
  </div>
</article>
